@import 'variables';

html {
  font-family: $sans-serif-font;
}

::selection {
  background: #fdd4d4;
}

main {
  font-size: 16px;
}

main,
.body-footer,
.head-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 25px;

  a {
    color: $link-color;
    text-decoration: none;
  }

  a:hover {
    color: $accent-color;
  }
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7em;
  color: $text-color;
  margin: 10px 0;
  font-family: $serif-font;
}

hr {
  display: block;
  box-sizing: content-box;
  height: 1px;
  border: 0;
  border-top: #a2a2a2 1px solid;
  margin-top: 30px;
}

.avatar {
  border-radius: 50%;
  object-fit: cover;
}

.read-more {
  color: $accent-color;
}

.read-more:hover {
  text-decoration: underline;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

// Pagination buttons

.nav-pages {
  margin: 18px 8px 0 8px;
}

.page-btn {
  position: relative;

  svg {
    display: inline-block;
    width: 18px;
    margin: 0 4px;
    fill: $link-color;
  }

  p {
    display: inline-block;
    font-family: $sans-serif-font;
    font-size: 20px;
    color: $link-color;
    line-height: 1em;
    margin: 0;
    margin-top: 6px;
    vertical-align: top;
  }
}

.page-btn:hover svg,
.page-btn:hover p, {
  color: $accent-color;
  fill: $accent-color;
}

#newer {
  float: left;
}

#older {
  float: right;
}

// Error page style

#error-header {
  color: $accent-color;
  font-weight: 600;
  font-size: 8em;
  text-align: center;
  margin-top: 12px;
}

#error-text {
  font-family: $sans-serif-font;
  font-size: 18px;
}
