@import 'variables';

#space-saver {
  margin-bottom: -10px;
}

article {
  position: relative;
  min-height: 160px;
}

article header {
  margin: 30px 0 20px 0;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: -1px;

  a {
    color: $heading-color;
  }
}

.featured-image {
  display: flex;
  justify-content: center;

  img {
    max-width: 100%;
    max-height: 400px;
    display: block;
  }
}

.article-body {
  text-align: justify;
  hyphens: auto;
}

.article-info {
  width: 160px;
  height: 140px;
  margin-left: -185px;
  padding-right: 10px;
  padding-top: 2px;
  text-align: right;
  position: absolute;
  top: 0;
  left: 0;
}

.article-author-name {
  display: inline-block;
  margin-top: 6px;
  margin-bottom: 2px;
  font-weight: 600;
  word-wrap: break-word;
  color: $heading-color;
}

.article-date {
  display: inline;
  color: $secondary-color;
  font-family: $sans-serif-font;
  font-size: 13px;
}

.avatar {
  width: 75px;
  height: 75px;
  margin-left: 85px;
  float: right;
}

@media screen and (max-width: 1130px) {
  .article-author {
    display: inline-block;
  }

  .article-info {
    position: static;
    margin-left: 0;
    width: 100%;
    height: 40px;
    text-align: left;
  }

  .article-author-name {
    margin-top: 12px;
    margin-right: 2px;
  }

  .article-date {
    margin-top: 8px;
    font-size: 15px;
  }

  .avatar {
    margin-left: 0;
    margin-right: 8px;
    width: 40px;
    height: 40px;
    float: left;
  }

  hr {
    margin-top: 20px;
  }
}

@media screen and (max-width: 580px) {
  .featured-image img {
    max-height: 350px;
  }

  article header {
    font-size: 28px;
  }

  .article-body {
    font-size: 14px;
    text-align: left;
    hyphens: none;
  }
}

@media screen and (max-width: 390px) {
  .article-author {
    display: block;
  }

  .article-author-name {
    display: block;
    margin-top: 1px;
  }

  .article-date {
    display: block;
    margin-top: 0;
  }
}
