@import 'variables';

#masthead {
  outline: none;
}

main {
  max-width: none;
  padding: 0;
}

// Header

.profile-header {
  background: $accent-color;
  padding-top: 12px;
  padding-bottom: 25px;
}

.profile-header-content {
  display: flex;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 25px;
}

.profile-header .avatar {
  width: 140px;
  height: 140px;
  margin: 0 10px;
  box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.2);
  background: #fff;
}

.profile-info {
  margin-left: 10px;
  margin-bottom: 34px;
}

#profile-name {
  color: #fff;
  font-size: 36px;
  font-weight: 400;
}

.site-link {
  display: inline-block;
  position: relative;
  margin-left: 2px;
  margin-top: 6px;
  color: #fff;
  font-weight: 300;
  font-size: 20px;
}

.site-link:hover {
  color: #fff;
}

.site-link:hover::after {
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  border-bottom: 1px solid #fff;
}

.button {
  width: 114px;
  height: 24px;
  transition: background 0.4s ease-out;
  background: rgba(0, 0, 0, 0.18);
  border-radius: 6px;
  padding: 7px;
  text-decoration: none;

  svg {
    float: left;
    height: 24px;
    fill: rgba(255, 255, 255, 0.85);
  }

  p {
    float: left;
    font-family: $sans-serif-font;
    font-weight: 400;
    margin: 5px 0 0 4px;
    line-height: 1em;
    color: rgba(255, 255, 255, 0.85);
  }

  &:hover {
    background: rgba(0, 0, 0, 0.28);
  }
}

#edit-profile-btn {
  align-self: flex-end;
  margin-left: auto;
}

// Body

.profile-body {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 18px;
  padding: 0 25px;
}

.subheader {
  margin: 18px 0;
  font-size: 26px;
}

.pill {
  display: inline-block;
  position: relative;
  width: 130px;
  height: 35px;
  background: #e6e6e6;
  border-radius: 35px;
  margin-right: 2px;
  margin-bottom: 8px;
  z-index: 0;

  svg {
    width: 35px;
    height: 35px;
    fill: $secondary-color;
  }

  p {
    font-family: $sans-serif-font;
    margin: 0;
    position: absolute;
    top: 5px;
    left: 42px;
  }
}

.pill:hover {
  svg {
    fill: $accent-color;
  }

  p {
    color: $accent-color;
  }
}

.pill-background {
  position: absolute;
  top: 1px;
  left: 1px;
  z-index: -1;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background: #fff;
}

h4 {
  margin: 14px 0 6px;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -1px;

  a {
    color: $heading-color;
    text-decoration: none;
  }
}

.article-date {
  font-family: $sans-serif-font;
  color: $secondary-color;
  font-size: 14px;
  margin: 0;
  margin-bottom: 6px;
}

main hr {
  margin: 25px 0;
}

@media screen and (max-width: 580px) {
  #masthead {
    background: #9f0714;
  }

  #nav-bg {
    visibility: hidden;
  }

  .profile-header {
    padding-top: 28px;
  }

  .profile-header-content {
    flex-direction: column;
  }

  .profile-info {
    margin: 0;
    margin-top: 20px;
    text-align: center;
  }

  .profile-site {
    margin-left: 0;
    margin-top: 10px;
  }

  #edit-profile-btn {
    align-self: center;
    margin-top: 20px;
    margin-left: 0;
  }
}

@media screen and (max-width: 470px) {
  .profile-info {
    padding: 0 15px;
  }
}
