<a class="pill" href="{{baseurl}}{{id}}" itemprop="url">
  <div class="pill-background"></div>
  <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="0 0 42 42" version="1.1">
    <use xlink:href="/images/defs.svg#icon-{{svg}}"></use>
  </svg>
  <p>{{label}}</p>
</a>
